@model BandsApp.Web.Models.Band
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    <title>Bands</title>
</head>
<body>
    <h2>Details</h2>
    
        <h2>@Model.Name</h2>
        <h3>@Model.Description</h3>
        <img src="@Model.ImageUrl" /> 
        <ul>
        @foreach (var item in Model.Albums)
        {
            <li>@item</li>
        }

        </ul>

    
    <iframe 
        width="560" 
        height="315" 
        src="@Model.VideoUrl" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;   picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>
</body>
</html>
